body {
    background-color: #10152f;
    color:#eee9ff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0px;
    padding: 40px;
}

section {
    background-color: #3f477f;
    margin: 25px auto;
    padding: 20px;
    max-width: 1000px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(180, 100, 130, 0.15);
}

h1 {
    color: #e6d8ff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

h1::before {
    content: "🌟";
}
h1::after {
    content: "🌟";
}

h2 {
    text-align: center;
    color:#d8c5ff;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid #7169a8;
}

.experience-header {
    display: flex;
    justify-content: space-between;
}
#Experience li {
    background-color: #e9e6f7;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #3f3b5c;
}
#Experience ul {
    list-style: none;
    padding: 0;
}
#Experience li::before {
    content: "✦ ";
    color: #8b7bb8;
}

#Connect {
    text-align: center;
}
#Connect ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}
#Connect ul {
    list-style: none;
    padding: 0;
}
#Connect li {
    margin: 8px;
}
#Connect a {
    color: #d8c5ff;
    text-decoration: none;
    font-weight: bold;
}