body {
    background-color: #17162b;
    color:#eee9ff;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0px;
    padding: 40px;
}

section {
    background-color: #34365f;
    margin: 25px auto;
    padding: 20px;
    max-width: 1000px;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(180, 100, 130, 0.15);
}

h1 {
    color: #e8dcff;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}

h1::before {
    content: "🌟";
}
h1::after {
    content: "🌟";
}

h2 {
    text-align: center;
    color:#d6c9f5;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 2px solid #7169a8;
}

.experience-item {
    display: flex;
    flex-direction: column;
    background-color: #e1def0;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #3f3b5c;
}
.experience-header {
    display: flex;
    justify-content: space-between;
}

#Skills ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    list-style: none;
    padding:0;
}
#Skills li::before {
    content: "✦ ";
}
#Skills li {
    background-color: #e1def0;
    color: #3f3b5c;
    padding: 10px;
    border-radius: 5px;
}

#Connect {
    text-align: center;
}
#Connect ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}
#Connect a {
    color: #d8c5ff;
    text-decoration: none;
    font-weight: bold;
}

#LeaveMessage {
    form input, form textarea {
        width: 20%;
        box-sizing: border-box;
        margin: 10px;
    }
    form label {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 17px;
    }
    form textarea {
        height: 50px;
    }
    form button {
        background-color: #dcd7f5;
        color:#17162b;
        border: 2px solid #dcd7f5;
        border-radius: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }
    form button:hover {
        transition: transform 0.2s, box-shadow 0.1s;
    }
    text-align: left;
}